/* Store Properties */
.mainLogo{
  margin-top: 13px;
  align-items: center;
  width: 200px;
}

.cartIcon {
  width: 32px;
  height: 32px;
}

.brandColor {
  color: #0069DD;
}

/* Card */
.card {
  width: 100%;
  border-radius: 5px;
  width: 600px;
}

.qtyCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnAdd{
  width: 270px;
}